.customers__pagination .ant-pagination-item,
.customers__pagination .ant-pagination-prev,
.customers__pagination .ant-pagination-next {
  width: 20px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
}

.customers__pagination .ant-pagination-total-text {
  width: 100px;
  text-align: right;
}

.customers__pagination .ant-pagination {
  width: 400px;
  display: inline-block;
}

.customers__pagination .ant-select {
  width: 150px;
  font-size: 12px;
  height: 24px;
  margin: 0 10px;
}

.customers__pagination .ant-select-selection--single {
  height: 24px;
}

.customers__pagination .ant-select-selection__rendered {
  line-height: 24px;
}

.customers__pagination {
  display: flex;
  align-items: center;
}

.customers__pagination .ant-btn {
  font-size: 12px;
  height: 22px;
}